
// Variables
// ----------------------------------------------------------------------------------------

$fa-font-path:                              "../../../bower_components/font-awesome/fonts";
$fonts-path:                                "../fonts";


$font-family-base:                          "MavenProRegular", sans-serif;
$font-family-bold:                          "MavenProBold", sans-serif;
