<nav class="navbar navbar-dark navbar-fixed-top bg-inverse" role="navigation">
    <a class="navbar-brand" ui-sref="app.main">
        {{ navbar.brand }}
    </a>

    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" ui-sref="app.main">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref="app.about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref="app.main">Contact</a>
        </li>
    </ul>
</nav>
