<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <section class="about">
                <p translate="about.test"></p>
                <ul>
                    <li ng-repeat="thing in about.awesomeThings">
                        {{ thing }}
                    </li>
                </ul>

                <p>{{ 'about.api.request_example'|translate }}: <b>Github</b></p>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="repository in about.repositories">
                        <h4 class="list-group-item-heading">
                            {{ repository.name }}
                        </h4>
                        <p class="list-group-item-text">
                            {{ repository.owner.login }}
                        </p>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
